* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: "Garamond";
}

li {
  list-style: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu ul {
  width: calc((100% / 2) - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 13px;
}

header .menu ul li {
  font-family: "Norse";
  font-size: 1.2em;
  font-weight: 800;
  margin: 21px;
}

header .menu ul.logo {
  width: 60px;
}

header .menu ul.logo li {
  margin: 8px;
}

section {
  padding: 21px 55px;
  margin: 55px 0;
}

section .container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.section1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 0;
  background: linear-gradient(45deg, #ff2800, #800020);
}

.section1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .imagem {
  margin: auto;
}

.section1 .imagem img {
  width: calc(89vh / 1.3793);
  height: 89vh;
}

.section2 {
  margin: 144px 0;
}

.section2 .container {
  height: 70v;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section2 .imagem {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 89px 0;
}

.section2 .imagem img {
  width: 233px;
}

.section2 .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .texto h2 {
  font-size: 1em;
  font-weight: 400;
}

.section2 .texto h3 {
  font-family: "Norse";
  font-size: 2.75em;
}

.section3 .container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .texto {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 .texto h2 {
  font-family: "Norse";
}

.section3 .texto p {
  margin-top: 55px;
}

.section3 .texto a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 13px 34px;
  margin: 34px 0;
  font-size: 21px;
  font-weight: bold;
  font-family: "Norse";
  text-align: center;
  border-radius: 13px;
  background: linear-gradient(45deg, #ff2800, #800020);
  color: #fff;
}

.section3 .imagem {
  width: 45%;
  position: relative;
}

.section3 .imagem img {
  width: 134%;
  height: auto;
  position: absolute;
  right: -34%;
  bottom: -34%;
}

.section4 .container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .imagem {
  width: 55%;
  position: relative;
}

.section4 .imagem img {
  width: 134%;
  height: auto;
  position: absolute;
  left: -34%;
  top: -8%;
}

.section4 .texto {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .texto h2 {
  font-family: "Norse";
}

.section4 .texto p {
  margin-top: 55px;
}

.section4 .texto a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 13px 34px;
  margin: 34px 0;
  font-size: 21px;
  font-weight: bold;
  font-family: "Norse";
  text-align: center;
  border-radius: 13px;
  background: linear-gradient(45deg, #ff2800, #800020);
  color: #fff;
}

.section5 {
  padding: 89px 55px 21px;
}

.section5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section5 .esquerda {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section5 .esquerda p {
  font-family: "Norse";
  font-size: 1.25em;
  text-align: center;
}

.section5 .direita {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 .direita p {
  width: 89%;
  margin-top: 55px;
}

.section6 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section6 .produtos {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section6 .produtos .produto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}

.section6 .produtos .produto svg {
  width: 24px;
  margin-right: 13px;
  fill: #888;
}

.section6 .produtos .produto h4 {
  font-family: "Norse";
  color: #888;
}

.section6 .produtos .produto.selecionado svg {
  fill: #000;
}

.section6 .produtos .produto.selecionado h4 {
  color: #000;
}

.section6 .destaques {
  width: 60%;
}

.section6 .destaques .destaque {
  display: none;
}

.section6 .destaques .destaque.selecionado {
  display: block;
}

.section6 .destaques .destaque .imagem {
  padding: 21px;
}

.section6 .destaques .destaque .imagem .slide {
  height: 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section6 .destaques .destaque .imagem .slide div[class*="seta"] {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.section6 .destaques .destaque .imagem .slide div[class*="seta"] svg {
  width: 55px;
}

.section6 .destaques .destaque .imagem .slide .seta-esq {
  position: absolute;
  left: -21px;
}

.section6 .destaques .destaque .imagem .slide .seta-dir {
  position: absolute;
  right: -21px;
}

.section6 .destaques .destaque .imagem .slide .itens {
  width: 100%;
  height: 377px;
  border-radius: 13px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.section6 .destaques .destaque .imagem .slide .itens img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 0;
}

.section6 .destaques .destaque .imagem .slide .itens img.ativo {
  z-index: 1;
}

.section6 .destaques .destaque .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 21px;
}

.section6 .destaques .destaque .texto h3 {
  font-family: "Norse";
  margin-bottom: 13px;
}

.section6 .destaques .destaque .texto .descricao {
  width: 100%;
  margin-bottom: 13px;
}

.section6 .destaques .destaque .texto a {
  width: 46%;
  display: block;
  padding: 13px 21px;
  margin: 2%;
  font-size: 21px;
  font-weight: bold;
  font-family: "Norse";
  text-align: center;
  border-radius: 13px;
}

.section6 .destaques .destaque .texto a.comprar {
  background: linear-gradient(45deg, #ff2800, #800020);
  color: #fff;
}

.section6 .destaques .destaque .texto a.pergunta {
  background: #ccc;
  color: #000;
}

.section7 .texto {
  padding: 21px;
  margin-bottom: 55px;
}

.section7 .texto h2 {
  margin: 34px 0;
  font-family: "Norse";
}

.section7 .texto p {
  margin: 21px 0;
}

.section7 .instagram {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.section7 .instagram .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 21px;
}

.section7 .instagram .head .avatar {
  width: 120px;
  height: 120px;
  position: relative;
}

.section7 .instagram .head .avatar img {
  border-radius: 50%;
}

.section7 .instagram .head .avatar::before {
  content: "";
  width: 130px;
  height: 130px;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -2;
  border-radius: 50%;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.section7 .instagram .head .avatar::after {
  content: "";
  width: 126px;
  height: 126px;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 50%;
  background: #fff;
}

.section7 .instagram .head .text {
  margin: 21px 21px 34px;
}

.section7 .instagram .head .text h3 {
  margin: 8px 0;
}

.section7 .instagram .head .text p {
  margin: 5px 0;
}

.section7 .instagram .medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section7 .instagram .medias .media {
  width: 250px;
  height: 250px;
  margin: 34px 21px;
  position: relative;
}

.section7 .instagram .medias .media a {
  color: #000;
}

.section7 .instagram .medias .media a img {
  border-radius: 13px;
  overflow: hidden;
}

.section7 .instagram .medias .media a .texto {
  width: 89%;
  padding: 13px;
  margin: auto;
  position: absolute;
  bottom: -34px;
  left: 50%;
  background: #fff;
  border-radius: 13px;
  -webkit-box-shadow: 2px 2px 5px #0002;
          box-shadow: 2px 2px 5px #0002;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section7 .instagram .medias .media a .texto p {
  display: -webkit-box;
  margin: 0;
  font-size: 14px;
  line-height: 1.2em;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.section7 .instagram .medias .media a .texto .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #ff280055;
}

.section7 .instagram .medias .media a .texto .footer p {
  font-size: 14px;
  font-family: "Norse";
}

.section7 .instagram .linkInstgram {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 21px;
  margin: 55px auto 13px;
  background: linear-gradient(45deg, #ff2800, #800020);
  color: #fff;
  border-radius: 13px;
}

.section7 .instagram .linkInstgram a {
  font-family: "Norse";
}

.section8 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section8 .texto {
  width: 50%;
  padding: 21px;
  margin: 55px 0;
}

.section8 .texto h2 {
  margin: 34px 0;
  font-family: "Norse";
}

.section8 .texto p {
  max-width: 377px;
  margin: 21px 0;
  line-height: 1.75em;
}

.section8 .form {
  width: 50%;
  margin: 55px 0;
}

.section8 .form input,
.section8 .form textarea {
  width: 100%;
  padding: 13px 21px;
  margin: 8px 0;
  border: 1px solid #0005;
}

.section8 .form input,
.section8 .form textarea::-webkit-input-placeholder {
  font-family: "Norse";
}

.section8 .form input,
.section8 .form textarea:-ms-input-placeholder {
  font-family: "Norse";
}

.section8 .form input,
.section8 .form textarea::-ms-input-placeholder {
  font-family: "Norse";
}

.section8 .form input,
.section8 .form textarea::placeholder {
  font-family: "Norse";
}

.section8 .form textarea {
  min-height: 233px;
}

.section8 .form button {
  font-family: "Norse";
  padding: 13px;
  font-weight: 600;
}

@media screen and (min-width: 820px) {
  * {
    font-size: 18px;
  }
  header .menu ul li.branco {
    color: #fff;
  }
  header .menu.menuDesktop {
    background: #fffe;
  }
  header .menu.menuDesktop ul {
    margin: 5px 13px;
  }
  header .menu.menuDesktop ul li {
    margin: 8px 21px;
  }
  header .menu.menuDesktop ul.logo {
    width: 35px;
  }
  header .menu.menuDesktop ul.logo li {
    margin: 8px;
  }
  section .container {
    max-width: 1140px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */