* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Garamond";
}
html {
  overflow-x: hidden;
}
li {
  list-style: none;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.8em;
}
h6 {
  font-size: 0.6em;
}
p {
  line-height: 1.5em;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
header {
  .menu {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    ul {
      width: 100%;
      margin: 13px;
      li {
        font-family: "Norse";
        font-size: 1.2em;
        font-weight: 800;
        margin: 21px;
      }
      &.logo {
        width: 60px;
        li {
          margin: 8px;
        }
      }
    }
  }
}
section {
  padding: 13px;
  margin: 55px 0;
  .container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
  }
}
.section1 {
  height: 100vh;
  margin-top: 0;
  background: linear-gradient(45deg, #ff2800, #800020);
  .container {
    display: flex;
    justify-content: center;
  }
  .imagem {
    margin: auto;
    img {
      width: calc(89vh / 1.3793);
      height: 89vh;
    }
  }
}
.section2 {
  .container {
    height: 100vh;
    position: relative;
  }
  .imagem {
    margin: 89px 0 34px;
    img {
      width: 233px;
      margin: auto;
    }
  }
  .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 1em;
      font-weight: 400;
    }
    h3 {
      font-family: "Norse";
      font-size: 2.75em;
    }
  }
}
.section3 {
  .imagem {
    position: relative;
    img {
      width: 134%;
      height: auto;
      position: relative;
      margin-top: -34%;
    }
  }
}
.section4 {
  .imagem {
    position: relative;
    img {
      width: 134%;
      height: auto;
    }
  }
}
.section3, .section4 {
  .texto {
    h2 {
      font-family: "Norse";
    }
    p {
      margin-top: 34px;
    }
    a {
      width: fit-content;
      display: block;
      padding: 13px 34px;
      margin: 34px 0;
      font-size: 21px;
      font-weight: bold;
      font-family: "Norse";
      text-align: center;
      border-radius: 13px;
      background: linear-gradient(45deg, #ff2800, #800020);
      color: #fff;
    }
  }
}
.section5 {
  .esquerda {
    p {
      font-family: "Norse";
      font-size: 1.25em;
      text-align: center;
    }
  }
  .direita {
    p {
      width: 89%;
      margin-top: 55px;
    }
  }
}
.section6 {
  .produtos {
    display: flex;
    flex-wrap: wrap;

    .produto {
      width: 50%;
      display: flex;
      align-items: center;
      margin: 8px 0;
      svg {
        width: 24px;
        margin-right: 13px;
        fill: #888;
      }
      h4 {
        font-family: "Norse";
        color: #888;
      }
      &.selecionado {
        svg {
          fill: #000;
        }
        h4 {
          color: #000;
        }
      }
    }
  }
  .destaques {
    .destaque {
      display: none;
      &.selecionado {
        display: block;
      }

      .imagem {
        padding: 21px;

        .slide {
          height: 233px;
          display: flex;
          align-items: center;
          position: relative;

          div[class*="seta"] {
            height: 100%;
            display: flex;
            cursor: pointer;
            position: absolute;

            svg {
              width: 34px;
            }
          }

          .seta-esq {
            left: -34px;
          }

          .seta-dir {
            right: -34px;
          }

          .itens {
            width: 100%;
            height: 233px;
            border-radius: 13px;
            position: absolute;
            z-index: -1;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              z-index: 0;
              &.ativo {
                z-index: 1;
              }
            }
          }
        }
      }

      .texto {
        display: flex;
        flex-wrap: wrap;
        padding: 21px;

        h3 {
          font-family: "Norse";
          margin-bottom: 13px;
        }

        .descricao {
          width: 100%;
          margin-bottom: 13px;
        }

        a {
          width: 46%;
          display: block;
          padding: 13px 21px;
          margin: 2%;
          font-size: 16px;
          font-weight: bold;
          font-family: "Norse";
          text-align: center;
          border-radius: 13px;
        }

        a.comprar {
          background: linear-gradient(45deg, #ff2800, #800020);
          color: #fff;
        }

        a.pergunta {
          background: #ccc;
          color: #000;
        }
      }
    }
  }
}
.section7 {
  .texto {
    padding: 21px;
    margin-bottom: 34px;
    h2 {
      margin: 34px 0;
      font-family: "Norse";
    }
    p {
      margin: 21px 0;
    }
  }
  .instagram {
    font-family: 'Source-Sans';
    font-weight: 400;

    .head {
      display: flex;
      .avatar {
        width: 89px;
        min-width: 89px;
        height: 89px;
        min-height: 89px;
        position: relative;
        img {
          border-radius: 50%;
        }
        &::before {
          content: "";
          width: 99px;
          height: 99px;
          position: absolute;
          top: -5px;
          left: -5px;
          z-index: -2;
          border-radius: 50%;
          background: linear-gradient(
            45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d
          );
        }
        &::after {
          content: "";
          width: 95px;
          height: 95px;
          position: absolute;
          top: -3px;
          left: -3px;
          z-index: -1;
          border-radius: 50%;
          background: #fff;
        }
      }
      .text {
        margin: 0 21px;
        h3 {
          margin: 8px 0;
        }
        p {
          margin: 5px 0;
        }
      }
    }
    .medias {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .media {
        width: 300px;
        height: 300px;
        margin: 34px 21px;
        position: relative;
        a {
          color: #000;
          img {
            border-radius: 13px;
            overflow: hidden;
          }
          .texto {
            width: 89%;
            padding: 13px;
            margin: auto;
            position: absolute;
            bottom: -34px;
            left: 50%;
            background: #fff;
            border-radius: 13px;
            box-shadow: 2px 2px 5px #0002;
            overflow: hidden;
            transform: translateX(-50%);

            p {
              display: -webkit-box;
              margin: 0;
              font-size: 14px;
              font-family: "Source-Sans";
              font-weight: 400;
              overflow: hidden;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            .footer {
              display: flex;
              justify-content: space-between;
              padding-top: 8px;
              margin-top: 8px;
              border-top: 1px solid rgba(255, 40, 0, 0.333);

              p {
                font-size: 14px;
                font-family: "Norse";
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .linkInstgram {
      width: fit-content;
      padding: 13px 21px;
      margin: 55px auto 13px;
      background: linear-gradient(45deg, #ff2800, #800020);
      color: #fff;
      border-radius: 13px;

      a {
        font-family: "Norse";
      }
    }
  }
}
.section8 {
  .texto {
    padding: 21px;
    margin: 55px 0 0;
    h2 {
      margin: 34px 0;
      font-family: "Norse";
    }
    p {
      max-width: 377px;
      margin: 21px 0;
      line-height: 1.75em;
    }
  }
  .form {
    input,
    textarea {
      width: 100%;
      padding: 13px 21px;
      margin: 8px 0;
      border: 1px solid rgba(0, 0, 0, 0.333);
    }
    input,
    textarea::placeholder {
      font-family: "Norse";
    }
    textarea {
      min-height: 233px;
    }
    button {
      font-family: "Norse";
      padding: 13px;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding: 21px;
    margin: 0;
  }
  .section4 {
    .imagem {
      img {
        top: 0;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  * {
    font-size: 18px;
  }
  section {
    .container {
      max-width: 1140px;
      margin: auto;
    }
  }
  header {
    .menu {
      display: flex;
      flex: wrap;
      justify-content: center;
      ul {
        width: calc((100% / 2) - 30px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 13px;
        li {
          font-family: "Norse";
          font-size: 1.2em;
          font-weight: 800;
          margin: 21px;
          &.branco {
            color: #fff;
          }
        }
        &.logo {
          width: 60px;
          li {
            margin: 8px;
          }
        }
      }
      &.menuDesktop {
        background: #fffe;
        ul {
          margin: 5px 13px;
          li {
            margin: 8px 21px;
          }
          &.logo {
            width: 35px;
            li {
              margin: 8px;
            }
          }
        }
      }
    }
  }
  section {
    padding: 21px 55px;
  }
  .section1 {
    display: flex;
    position: relative;
  }
  .section2 {
    .container {
      display: flex; 
    }
    .imagem {
      width: 50%;
      display: flex;
      justify-content: center;
      margin: 89px 0;
      img {
        height: auto;
      }
    }
  }
  .section3 {
    .container {
      height: 70vh;
      display: flex;
    }
    .texto {
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin-top: 55px;
      }
    }
    .imagem {
      width: 45%;
      img {
        margin-top: 21%;
        position: absolute;
        right: -34%;
      }
    }
  }
  .section4 {
    .container {
      height: 70vh;
      display: flex;
    }
    .imagem {
      width: 55%;
      img {
        width: 134%;
        height: auto;
        position: absolute;
        left: -34%;
      }
    }
    .texto {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin-top: 55px;
      }
    }
  }
  .section5 {
    padding: 55px;

    .container {
      display: flex;
    }
    .esquerda {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .direita {
      width: 55%;
    }
  }
  .section6 {
    .container {
      display: flex;
    }
    .produtos {
      width: 40%;
      flex-direction: column;
      justify-content: center;

      .produto {
        width: 100%;
      }
    }
    .destaques {
      width: 60%;
      .destaque {
        .imagem {
          .slide {
            height: 377px;
            div[class*="seta"] {
              svg {
                width: 55px;
              }
            }
            .seta-esq {
              left: -55px;
            }
            .seta-dir {
              right: -55px;
            }
            .itens {
              height: 377px;
            }
          }
        }

        .texto {
          a {
            font-size: 21px;
          }
        }
      }
    }
  }
  .section7 {
    .texto {
      margin-bottom: 55px;
    }
    .instagram {
      .head {
        margin: 21px;
        .avatar {
          width: 120px;
          height: 120px;
          &::before {
            width: 130px;
            height: 130px;
          }
          &::after {
            width: 126px;
            height: 126px;
          }
        }
        .text {
          margin: 21px 21px 34px;
        }
      }
      .medias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .media {
          width: 300px;
          height: 300px;
          margin: 34px 21px;
          position: relative;
          a {
            color: #000;
            img {
              border-radius: 13px;
              overflow: hidden;
            }
            .texto {
              width: 89%;
              padding: 13px;
              margin: auto;
              position: absolute;
              bottom: -34px;
              left: 50%;
              background: #fff;
              border-radius: 13px;
              box-shadow: 2px 2px 5px #0002;
              overflow: hidden;
              transform: translateX(-50%);

              p {
                display: -webkit-box;
                margin: 0;
                font-size: 14px;
                font-family: "Source-Sans";
                font-weight: 400;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }

              .footer {
                display: flex;
                justify-content: space-between;
                padding-top: 8px;
                margin-top: 8px;
                border-top: 1px solid rgba(255, 40, 0, 0.333);

                p {
                  font-size: 14px;
                  font-family: "Norse";
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .linkInstgram {
        width: fit-content;
        padding: 13px 21px;
        margin: 55px auto 13px;
        background: linear-gradient(45deg, #ff2800, #800020);
        color: #fff;
        border-radius: 13px;

        a {
          font-family: "Norse";
        }
      }
    }
  }
  .section8 {
    .container {
      display: flex;
    }
    .texto {
      width: 50%;
      margin: 55px 0;
    }
    .form {
      width: 50%;
      margin: 55px 0;
    }
  }
}
